@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&family=Poppins:ital,wght@0,100;0,400;1,600&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Poppins', sans-serif ;
}

p{
    color: rgb(85, 85, 85);
}

a, .btn{
    transition: all 300ms ease;
}

nav, .nav-links{
    display: flex;
}

/* nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
} */